
#board{
	display: none;
	justify-content: center;
	padding: 2%;
	border: 5px solid #5a5b59;
	width: 80%;
	background-color:#eeeed2;
	border-radius: 1%;
	margin-left: 5.5%;

}

#holes_space{
	display: flex;
	border: 5px solid #5a5b59;
	height: 1%;
	margin-top: 3.5%;
	border-radius: 3%;

}

.holeColumn{
	flex-direction: row;
	height: 32vh;
	width: 10vh;
	padding: 1%;
	border-radius: 50%;
}

.holeP2{
	border: 5px solid #5a5b59;
	height: 10vh;
	width: 70%;
	margin-right: 0;
	background-color: #769656;
	border-radius: 5%;
	margin-bottom: 25%;
	position: relative;

}

.holeP1{
	border: 5px solid #5a5b59;
	height: 10vh;
	width: 70%;
	margin-right: 0;
	margin-top: 25%;
	background-color: #769656;
	border-radius: 5%;
	position: relative;
}

.holeP1:hover{border: double;}

.pits{
	flex-direction: column;
	border: 5px solid #5a5b59;
	height: 35vh;
	width: 100%;
	margin: 3%;
	background-color: #769656;
	border-radius: 3%
	}

 .pit_hole{
	position: relative;
	width: initial;
	height: inherit;
}

.seed{
	border-radius: 50%;
	border: 1px solid white;
	height: 15px;
	width: 15px;
	position: absolute;
	color:white;
}

.tooltiptext {
  display: contents;
  color: black;
  font-size: large;
}


#score-player1{
	background-color:#5a5b59;
	height:5%;
	width: 10%;
	border-radius:20%;
	text-align: center;

}

#score-player2{
	background-color:#5a5b59;
	height:5%;
	width: 10%;
	border-radius:20%;
	text-align: center;

}
