/*forms and text css*/


#tableContent{
    padding: 10px;

	display: inline-block;
	width: 40%;
	background-color: #00000033;
	border-radius: 5px;
}

#tableContent .button{
	width: 25%;
	height: auto;
	box-shadow: 0 0 2px #fff;
}

#rules_text {
    padding: 2px;
    border: 10px double #597739;
    display: none;
	justify-content: center;
}

#rules_text:hover{
	 border: 10px double white;
}


#login, #signup{
	position: absolute;
    padding: 9px 9px 0px 9px;
    margin-left: 20%;
	border-radius: 5px;
	box-shadow:  0 0 0px #fff;
	line-height: 0.5;
	background-color: #00000033;
}

.form_title{
	font-size: 20px;
	font-weight: bold;
	font-family: "Helvetica";
	text-shadow: 0 0 3px #000;
}

.form_title_2{
	font-size: 20px;
	font-weight: bold;
	font-family: "Helvetica";
	text-shadow: 0 0 3px #000;
	
	
}

#turn_info{
	text-transform: uppercase;
	border: 6px double #E0E0E0;
	text-shadow: 0 0 5px #1A4504;
	width:94.6%;
	margin-right:10.2%;
	text-align: center;
}

a:hover{
	text-shadow: 0 0 10px #76b03e;
}

.error{
  position: absolute;
background-color: #769656;
box-shadow: 0 0 15px #000;
text-align: center;
overflow-wrap: break-word;
width: 400px;
height: 80px;
line-height: 4;
font-size: large;
font-weight: bold;
border: 2px solid #fff;
}

.begin_game_text{

 
		display: block;
	min-height: var(--buttonHeight,5rem);
	text-align: center;
    width: 37%;
	background-color: #7fa650;
	align-items: center;
    border: 0;
    border-radius: 1rem ;
    box-shadow: 0 0.5rem 0 0 #537133, 0 0.7rem 0.95rem 0.05rem rgba(0,0,0,0.2);
    display: inline-flex;
    font-size: var(--fontSize,1.5rem);
    font-weight: 600;
    justify-content: center;
    margin-bottom: var(--borderHeight);
    max-width: 100%;
    overflow: hidden;
    padding: var(--buttonPaddings,.5rem 2rem);
    position: relative;
    text-align: center;
    right: 0px;

}

#player_vs_txt{
	margin-top: 5px;
	height: 5%;
	
	
	
}
#username_display{
font-size:300%;
margin-left:50%;
	
	
}

#about {
	background-color: #00000033;

	border-radius: 5px;
	width:95.3%;

}

#give_up {
	background-color: #00000033;

	border-radius: 5px;
	display: none;
	width:95.3%;
	margin-right:10%;
	text-align: center;
}
