
#board{ 
	display: none;
	justify-content: center;
	padding: 2%;
	border: 5px solid #000;
	width: 60%;
	background-color:#eeeed2;
	border-radius: 25%;
	
} 

#holes_space{
	display: flex;
	border: 5px solid #5a5b59;
	height: 1%;
	padding: 16px 0 0 10px;
	
}

.holeColumn{
	flex-direction: row;
	height: 32vh;
	width: 10vh;
	padding: 1%;
	border-radius: 50%;
}

.holeP2{
	border: 5px solid #5a5b59;
	height: 10vh;
	width: 70%;
	margin-right: 0;
	margin-bottom: 100%;
	background-color: #769656;
}

.holeP1{
	border: 5px solid #5a5b59;
	height: 10vh;
	width: 70%;
	margin-right: 0;
	background-color: #769656;
}

.holeP1:hover{border: dotted;}
 
.pits{
	flex-direction: column;
	border: 5px solid #5a5b59;
	height: 25vh;
	width: 10vh;
	margin: 5%;
	background-color: #769656;
	}
	
 
.seed{
	border-radius: 50%;
	border: 1px solid #5a5b59;
	height: 10px;
	width: 10px;
	background-color:#f8f8f8;
	
	
	
}
