/*forms and text css*/


#tableContent{
    padding: 10px;
    
	display: inline-block;
	width: 40%;
	background-color: #00000033;
	border-radius: 5px;
}

#tableContent .button{
	width: 25%;
	height: auto;
	box-shadow: 0 0 2px #fff;
	
	
}

#login, #signup{
	position: absolute;
    padding: 9px 9px 0px 9px;
    margin-left: 20%;
	border-radius: 5px;
	box-shadow:  0 0 0px #fff;
	line-height: 0.5;
	background-color: #00000033;
}

.form_title{
	font-size: 20px;
	font-weight: bold;
	font-family: "Helvetica";
	text-shadow: 0 0 3px #000;
}

#turn_info{
	text-transform: uppercase;
	border: 6px double #E0E0E0;
	text-shadow: 0 0 5px #1A4504;
}

a:hover{
	text-shadow: 0 0 10px #76b03e;
}

#begin_game_text{
	display: block;
	min-height: var(--buttonHeight,5rem);
	--secondaryBorderColor: rgba(0,0,0,0.2);
	text-align: center;
	-borderRadius: 1rem;
    -borderHeight: .5rem;
    -buttonHeight: 5.5rem;
    -buttonPaddings: .5rem 3rem;
    --borderColor: #537133;
    width: 37.5%;
	background-color: #7fa650;
	align-items: center;
    border: 0;
    border-radius: 1rem ;
    box-shadow: 0 0.5rem 0 0 #537133, 0 0.7rem 0.95rem 0.05rem rgba(0,0,0,0.2);
    display: inline-flex;
    font-size: var(--fontSize,1.5rem);
    font-weight: 600;
    justify-content: center;
    margin-bottom: var(--borderHeight);
    max-width: 100%;
    overflow: hidden;
    padding: var(--buttonPaddings,.5rem 2rem);
    position: relative;
    text-align: center;
    right: 63px;
    
}

#begin_game_text a:hover{
		box-shadow:  0 0 10px #fff;
		box-shadow: 0 0.5rem 0 0 #537133, 0 0.7rem 0.95rem 0.05rem rgba(0,0,0,0.2);
}

#about {
	background-color: #00000033;
	
	border-radius: 5px;
	width:94.6%;

}

#give_up {
	background-color: #00000033;
	
	border-radius: 5px;
	display: none;
}
	

