#board
{
    height:100px;
    width:50%;
    position: relative;
    border-style: solid;
    border-color: red;
    padding: 10px 10px 8px 5px;
		 
}

.pits{
    float:left;
    border-color:blue;
    border-style: solid;
    height:90%;
    width: 15%;
  
}

.pit_hole{
    padding: 3px  0px 0px;
    height: 90%;
    width: 90%;
    position: relative;
    border-style: solid;
    border-color: yellow;

}
#holes_space{
    float:left;
    border-color:green;
    border-style: solid;
    height:90%;
    width: 15%;
}

.holeColumn
{
    float:left;
    border-color:orange;
    border-style: solid;
    height:100%;
    width: 15%;   
}
